<div class="content margen">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Editar Usuario</h4>
              <p class="card-category">Completa los campos</p>
            </div>
            <div class="card-body">
              <form #form='ngForm' (submit)="actualizarUser(form)">
                <div class="row">

                  <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Nickname</label>
                      <input type="text" name="nickname" [(ngModel)]="usuarioPef.nickname" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Email</label>
                      <input type="email" name="email" [(ngModel)]="usuarioPef.email" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                          <label class="bmd-label-floating">Descripcion</label>
                        <textarea name="description" [(ngModel)]="usuarioPef.description" class="form-control" rows="3"></textarea>
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Contraseña Nueva (Opcional)</label>
                      <input type="password" name="clave1" [(ngModel)]="form.value.clave1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Confirmar Contraseña</label>
                      <input type="password" name="clave2" [(ngModel)]="form.value.clave2" class="form-control">
                    </div>
                  </div>
                </div>

               
                <button type="submit" class="btn btn-primary pull-right">Actualizar</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a >
                <img class="img" src="https://imgshark.herokuapp.com/assets/public/imgperfil/{{usuarioPef.image}}" />
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">Nickname ({{usuarioPef.nickname}})</h4>
              <p class="card-description">
                {{ usuarioPef.description }}
              </p>
              <div class=" form-file-upload form-file-multiple">
                
                  <div class="input-group">
                      <input type="file"  id="image" ng2FileSelect [uploader]="uploader" name="image" class="form-control inputFileVisible" placeholder="Single File">
                     
                  </div>
  
                    <br>
  
  
         
                </div>
        
          <button type="button" (click)="agregarFoto()"  class="btn btn-primary">Cargar Foto</button>
  
  
  
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>